<div class="container">
  <ng-container *ngIf="loginMode; else register">
    <div class="box">
      <mat-form-field class="user-name">
        <mat-label>user-name</mat-label>
        <input matInput [(ngModel)]="userName" />
      </mat-form-field>
      <mat-form-field class="password">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="password" />
      </mat-form-field>
      <br />
      <button class="button" (click)="login()">login</button>

      <div class="footer" (click)="toggleLoginRegister()">make an account</div>
    </div>
  </ng-container>
</div>

<ng-template #register>
  <div class="box">
    <mat-form-field class="first-name">
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="firstName" />
    </mat-form-field>
    <mat-form-field class="last-name">
      <mat-label>last name</mat-label>
      <input matInput [(ngModel)]="lastName" />
    </mat-form-field>
    <mat-form-field class="user-name">
      <mat-label>user-name</mat-label>
      <input matInput [(ngModel)]="userName" />
    </mat-form-field>
    <mat-form-field class="password">
      <mat-label>password</mat-label>
      <input matInput [(ngModel)]="password" />
    </mat-form-field>
    <br />
    <button class="button" (click)="add()">register</button>
    <div class="footer" (click)="toggleLoginRegister()">
      already have an account?
    </div>
  </div>
</ng-template>
