.container {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #ffffff 0%, #888edf 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.4px #000;
    border: none;
    background-color: white;

    .button {
      border: none;
      padding: 10px 5px;
    }

    .footer {
      margin-top: 6px;
    }
  }
}
