<div class="container">
  <div class="chat-list">
    <chat-list [chats]="chats$ | async"></chat-list>
  </div>
  <div class="current-chat">
    <!-- <current-chat></current-chat> -->
  </div>
</div>
