.container {
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: solid black 1px;

    .chat-list {
        
        background-color: aliceblue;
        height: 100%;
        width: 30%;
    }
}