<div class="container">
    <div class="header"></div>
    <div class="chat">
        <div class="message" *ngFor="let message of (currentChat$ | async).messages">
            {{ message }}
        </div>
    </div>
    <div class="input">
        <input type="text">
    </div>
</div>